/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body{
    padding: 20px;
    border: 20px solid #000;
    border-radius: 5px;
}
input{
    margin: 20px;
    padding: 5px;
}